{% load i18n %}
{% load comments %}

{% for post in posts %}

{% get_comment_form for post as form %}
<micro>
<data>
{{ form.object_pk }}
{{ form.timestamp }}
{{ form.security_hash }}
</data>
<p>[<logtime>{{ post.datetime|date:"H:m d M Y" }}</logtime>] <commentcount>{% get_comment_count for post as count %}[{{ count }} Comment{% if count != 0 %}s{% endif %}]</commentcount> <status class="{{ post.status|lower }}">{{ post.status|upper }}</status> <b>{{ post.author }}</b>: <log>{{ post.content|urlize }}</log></p>


<comments>
{% get_comment_list for post as comment_list %}
{% for comment in comment_list %}

<comment>
[<logtime>{{ comment.submit_date|date:"H:m d M Y" }}</logtime>] <status class="comment">COMMENT</status> <b>{{ comment.name }}</b>: <log>{{ comment.comment|urlize }}</log>
</comment>
{% endfor %}
</comments>
</micro>
{% endfor %}

