{% extends "base_html.html" %}
{% load i18n %}
{% load comments %}

{% block content %}
<div class="post">
<H2 class="title">{{ post.title }}</h2>

<div class="entry">
<p>{{ post.text|linebreaks|urlize }}</p>
</div>
<div class="meta">
<p>{% trans 'Posted by ' %} : {{ post.author }}</p>
<p>{% trans 'Posted on ' %}{{ post.datetime|date:"D d M Y" }} </p>
</div>
</div>
<h3 clas="title">{% trans 'Comments' %}</h3>
{% get_comment_list for post as comment_list %}
{% for comment in comment_list %}
<div class="post">
<h5 class="title">{{ comment.user }}</p>
<div class="entry">
<p>{{ comment.comment|linebreaks }}</p>
</div>
<div class="meta">
<p>{{ comment.submit_date|date:"D d M Y" }}</p>
</div>
</div>
{% endfor %}
{% get_comment_form for post as form %}
<form action="{% comment_form_target %}" method="POST">
<table>
  {{ form }}
	<tr>
	<td><input type="hidden" name="next" value="/blog/post/{{ post.slug }}/" /></td>
	<td></td>
	</tr>

  <tr>
    <td><br /><p align="center"><input class="submit-preview" type="submit" value="{% trans 'Preview' %}" name="preview"/></p></td>
    <td><br/><p align="center"><input type="submit" name="submit" class="submit-post" value="{% trans 'Submit' %}"></p></td>
  </tr>
</form>
</table>
{% endblock %}

