{% load i18n %}
<!DOCTYPE HTML>
<html>
<head>
<title>{% block title %}{% trans "Dashboard" %}
{% endblock title %}</title>

{% block head %}
{% for js in dashboard.javascripts %}
<script language="javascript" src="{{ js }}"></script>
{% endfor %}

{% for css in dashboard.styles %}
<link href={{ MEDIA_URL }}{{ css.url }} type="text/css" rel="{{ css.rel }}">
{% endfor %}
{% endblock head %}
{% block extrahead %}
{% endblock extrahead %}
</head>
<body>
{% block content %}
{% endblock content %}
</body>
</html>
