{% load i18n %}
<!DOCTYPE HTML>
<html>
<head>
<title>{% block title %}{% trans "Dashboard" %}
{% endblock title %}</title>
{% block prehead %}
{% endblock prehead %}

{% block head %}
<script language="javascript" src="{% url dashboard-js %}"></script>
{% for js in dashboard.pre_js %}
<script language="javascript" src="{{ js }}"></script>
{% endfor %}

{% for js in dashboard.js_blocks_classes %}
<script language="javascript" src="{{ js }}"></script>
{% endfor %}
{% for js in dashboard.js_widgets_classes %}
<script language="javascript" src="{{ js }}"></script>
{% endfor %}

<script language="javascript" src="{% url dashboard-init-js %}"></script>

{% for js in dashboard.scripts %}
<script language="javascript" src="{{ js }}"></script>
{% endfor %}

{% for css in dashboard.styles %}
<link href={{ css }} type="text/css" rel="stylesheet">
{% endfor %}
{% endblock head %}

{% block posthead %}
{% endblock posthead %}
</head>
<body>
{% block content %}
{% endblock content %}
</body>
</html>
