{% extends "base.html" %}
{% load i18n %}
{% load comments %}

{% block menu %}
  {% for result in types %}
   <li><a href="/blog/filter/?type={{result.0}}">{{result.1}}</a></li>
  {% endfor %}

{% endblock %}

{% block cats %}
  {% for cat in cats %}
   <li><a href="/blog/filter/?category={{cat.title}}">{{cat.title}}</a></li>
  {% endfor %}
{% endblock %}

{% block content %}
<div class="posts">
{% for post in posts %}
<article class="post">
<H1 class="title"><a href="/blog/posts/{{ post.title }}">{{ post.title }}</a></H1>
<div class="entry">
{% autoescape off %}
{{ post.get_content|truncatewords:10}}
{% endautoescape %}
</div>
<meta>
<author>{% trans 'Posted by' %} : {{ post.author }}</author>
<time>{% trans 'Posted on' %}
{{ post.datetime|date:"D d M Y" }} <b>|</b> <a href="{% url ultra_blog.views.view_post post.slug %}">{% trans 'Comment' %}{% get_comment_count for post as count %} ({{ count }})</a></time>
<time>{% trans 'Last update' %}{{ post.update_datetime|date:"D d M Y" }}</time>
<tag>{{ post.tags }}</tag>
</meta>
</article>
{% endfor %}
</div>
{% endblock %}
