{% extends 'base.html' %}
{% load i18n %}
{% load comments %}

{% block extrahead %}
<link href="{{ HIGHLIGHT_STYLE }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="post">
  <H1 class="title">{{ post.title }}</h1>
  <div class="entry">
    {% autoescape off %}
    {{ post.get_content }}
    {% endautoescape %}
  </div>
  <div class="meta">
    <p>{% trans 'Posted by' %} : {{ post.author }}</p>
    <p>{% trans 'Posted on' %}{{ post.datetime|date:"D d M Y" }} <b>|</b>{% trans 'Comment' %}{% get_comment_count for post as count %} ({{ count }})</p>
    <p>{% trans 'Last update' %}{{ post.update_datetime|date:"D d M Y" }}</p>
    <p>{{ post.tags }}</p>
  </div>
</div>

<div class="comments">
{% get_comment_list for post as comment_list %}
{% for comment in comment_list %}
>>> {{ comment }} <br>
{% endfor %}
</div>

<div class="commentform">
  <form action="{% comment_form_target %}" method="post">
    <input type="hidden" name="next" value="{% url ultra_blog.views.view_post post.slug %}" />
{% render_comment_form for post %}
</div>
{% endblock %}
