<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>


<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Dina Project</title>
<link rel="stylesheet" type="text/css" href="/site_media/css/default.css">
</head><body>
	<div id="wrapper">
         <div id="header">
		 
		       <p>This is the Header</p>		 
			   
		 </div>
         <div id="navigation">
		 
		       <p>This is the Navigation</p>		 
			   
		 </div>
		 <div id="content">
		      
			  <p>This is the main content</p><br><br> 
              <p><a href="http://www.cssportal.com/generators/layouts/filenumber.htm">
              <img src="83338_files/html.html" width="16" border="0" height="16"> HTML File</a></p>
              <p><a href="http://www.cssportal.com/generators/layouts/filenumber.css">
              <img src="83338_files/css.html" width="16" border="0" height="16"> CSS File</a></p>
	          <p>To download, right click and choose 'Save Target as...'</p>
	          <p>&nbsp;</p>
	          <p>If you use one of these layouts, please consider linking to CSS Portal.<br>
	          http://www.cssportal.com</p>
	          		 
		 
		 </div>
		 <div id="rightcolumn">
		 
		       <p>Right Column</p>
		 
		 </div>
		 <div id="footer">
		       
			   <p>This is the Footer</p>		
			    
	     </div>   </div>
   
</body></html>
