{% extends 'base_html.html' %}
{% block content %}
{% load i18n %} 

<br/><br/>
{% trans "Public Questions in this directory :" %}
<br/><br/>
  <table class="dataTable_box">
    <thead class="dataTable_question">
      <tr>
	<th>{% trans "Name" %}</th>
	<th>{% trans "Category name" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for i in Public %}
        <tr>
	  <td align="center" class="dataTable_answer"><a href="/faq/detail/{{ i.id }}/'>{{ i.name }}"</a></td>
	  <td align="center" class="dataTable_answer">{{ i.category }}</td>
	</tr>
      {% endfor %}
{% if not Public %}
<td class="dataTable_answer" colspan="2">{% trans "Can not find any thing" %}</td>
{% endif %}
    </tbody>

  </table>

<br/><br/><br/><br/>
{% trans "Your Questions :"%}
<br/>
<a href="/faq/ask">{% trans "Ask Now !"%}</a>
<br/>
  <table class="dataTable_box">
    <thead class="dataTable_question">
      <tr>
	<th>{% trans "Name" %}</th>
	<th>{% trans "Category name" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for j in Private %}
        <tr>
	  <td align="center" class="dataTable_answer"><a href="/faq/detail/{{ j.id }}/'>{{ j.name }}"</a></td>
	  <td align="center" class="dataTable_answer">{{ j.category }}</td>
	</tr>
      {% endfor %}
{% if not Private %}
<td class="dataTable_answer" colspan="2">{% trans "Can not find any thing" %}</td>
{% endif %}
    </tbody>

  </table>
</center>
{% endblock %}
