.widgetarea {
    position: absolute;

}

.widget {
    margin: 5px;
    display: inline-block;
}
.widgetbox {
    padding: 20px;
    border-radius: 5px;
    Background: white;
    float: left;
}

.widgetbar {
    position: relative;
    float: right;
    width: 18px;
    height: 40px;
    top: 10px;
    Background: #f1f1f1;
    opacity: 0.3;
    border-radius: 0 5px 5px 0;
    text-align: center;
    display: none;
}

.closebtn {
    width: 8px;
    height: 8px;
    cursor: pointer;
}