<html xmlns="http://www.w3.org/1999/xhtml">
{% load menu %}
{% load i18n %}


<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
{% block header %}
  <title>{% block title %}Dina Project{% endblock %}</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <script type="text/javascript" src="{% load adminmedia %}{% admin_media_prefix %}js/jquery.js"></script>
  <link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/ui_them/smoothness/jquery-ui.css">
  <link href="/site_media/css/default.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="{% load adminmedia %}{% admin_media_prefix %}js/ui/ui.core.js"></script>
  <script type="text/javascript" src="{% load adminmedia %}{% admin_media_prefix %}js/ui/ui.resizable.js"></script>
  <script type="text/javascript" src="{% load adminmedia %}{% admin_media_prefix %}js/ui/ui.draggable.js"></script>
  <script type="text/javascript" src="{% load adminmedia %}{% admin_media_prefix %}js/ui/ui.dialog.js"></script>
  <script type="text/javascript">
      $(document).ready(function(){

      
      
        
  	var $dialog = $('<div></div>')
		.html('')
		.dialog({
			autoOpen: false,
                        model: true,
			title: 'cs'
		});

      $('.dialog_content').hide ()
      
      $('.dialog_opener').click (function (){
      


      var container = $("#" + $(this).attr("content"));
      $dialog.html (container.html ());
      $dialog.dialog ('option' , 'title' , container.attr("title"));
      $dialog.dialog ('option' , 'hide' , container.attr("hide"));
      $dialog.dialog ('option' , 'show' , container.attr("show"));
      $dialog.dialog ('option' , 'width' , parseInt (container.attr("width")));
      $dialog.dialog ('option' , 'height' , parseInt (container.attr("height")));
//      $dialog.dialog ('option' , 'model' , Boolean (parseInt (container.attr("model"))));
      $dialog.dialog ('open');
      
      });
	

      

      });
  </script>

{% endblock %}
</head>
<body>
<div id="logo-wrap">
<div id="logo">
	<h1><a href="#">Dina Project</a></h1
	<h2>Impossible is Impossible</h2>
</div>
</div>
{% block top-side %}
<div id="header">
{% menu_class "top"%}
</div>
{% endblock %}
<div id="wrapper">
<div id="wrapper-btm">
<div id="page">

{% block body %}


{% endblock %}
<div style="clear: both;">&nbsp;</div>
</div>
<!-- end page -->
</div>
</div>
<div id="footer">
{% block footer %}

	<div id="footer-wrap">
	<p id="legal">(c) 2009 Dina-Project.com . Powered by <a href="http://www.dina-project.com/">Dina.</a>.</p>
	</div>

{% endblock %}
</div>
</body>
</html>
