
<script type="text/javascript">
	$(function() {
		$("#jqmenuaccording").accordion();
	});
</script>


<script type="text/javascript">
    $(function() {
        $('a').click(function(e) {
            e.preventDefault();
            var $this = $(this);
            var horizontalPadding = 30;
            var verticalPadding = 30;
            $('<iframe id="externalSite" class="externalSite" src="' + this.href + '" />').dialog({
                title: ($this.attr('title')) ? $this.attr('title') : 'External Site',
                autoOpen: true,
                width: 800,
                height: 500,
                modal: true,
                resizable: true,
                autoResize: true,
                overlay: {
                    opacity: 0.5,
                    background: "black"
                }
            }).width(800 - horizontalPadding).height(500 - verticalPadding);            
        });
    });
</script>
<div>
<div id="jqmenuaccording">
  {% for mainitem in menumainitem %}
  <h3> {{ mainitem.title }} <img style="vertical-align:top; margin-top:5px;" src="/site_media/{{mainitem.image}}"/></h3>
  <div>
    {% for item in menuitem %}
       {% if item.parent = mainitem %}
          <li><a href="{{ item.url }}"> {{ item.title }} </a></li>
       {% endif %}
    {% endfor %}
  </div>
  {% endfor %}
</div>
</div>
