<html><head>

</head>
<body>
{% load i18n %}
	
<table border="0"><tr><th>&nbsp;</th><th>&nbsp;</th>
	<th valign="middle" onclick="$('#packages').mb_changeContainerContent ('/admin/dpm/installer/test/' , '');" style="cursor: pointer;"><p><img src="{% load adminmedia %}{% admin_media_prefix %}img/installer/reload.png"> {% trans 'Reload' %}</p></th>
	<th>&nbsp;</th>
	<th>&nbsp;</th><th>&nbsp;</th>
	<th>&nbsp;</th>
	<th valign="middle" onclick="$('#form').submit();" style="cursor: pointer;" ><p><img src="{% load adminmedia %}{% admin_media_prefix %}img/installer/clean.png" width="32" height="32"> {% trans 'Apply' %}</p></th>
	</tr></table>

<form id="form" action="/admin/dpm/installer/apply/" method="POST" >
	<table   border="0" style="position: relative; width: 100%;">
    <tr bgcolor='#aaa'>
        <th >{% trans 'Packages' %}
        </th>
        <th>{% trans 'Version' %}
        </th>
        <th>{% trans 'Short Description' %}
        </th>
    </tr>
    
    	  {% for i in pkg %}
  
  

	<tr >
        <td style="position:relative; width:22%" ><input class="checklist" id="{{ i.id }}" name="{{ i.name }}" type="checkbox" {{ i.checked }}  > <a href="#"  onclick="$('#desc').mb_changeContainerContent ('/admin/dpm/installer/{{ i.id }}/' , '');">{{ i.name }}</a></input>
        </td>
        <td style="position:relative; width:13%">{{ i.version }}
        </td>
        <td>{{ i.short_desc }}
        </td>
    </tr>
	{% endfor %}
</table>

</form>
</body>
</html>
