{% extends 'base.html' %}
{% load i18n %}
{% block content %}

{% for post in posts.object_list %} 
<h3>{{ post.title }}</a></h3>
<h5>{% trans 'Author' %}: {{ post.author}}</h5>                                                                                                     
<p>{{ post.get_content|linebreaks }}</p>
<p><a href="/bog/post/{{ post.slug }}">{% trans 'Read more' %}</a></p>
<p>{% trans 'Date' %}: {{ post.datetime }} | {% trans 'Comment(s)' %}: {{ post.comments.count }}</p>
{% endfor %}

{% if posts.has_previous %}                                                                                                                         
<a href="?page={{ posts.previous_page_number }}">{% trans 'previous' %}</a>
{% endif %}                                                                                                                                            

<span class="current">                                                                                                                                 
  Page {{ posts.number }} of {{ posts.paginator.num_pages }}.                                                                                  
</span>                                                                                                                                                

{% if posts.has_next %}                                                                                                                             
<a href="?page={{ posts.next_page_number }}">{% trans 'next' %}</a>
{% endif %}   
{% endblock %}
