{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div class="blog">
{% for post in posts.object_list %} 
<div class='post'>

<h3 class="title">{{ post.title }}</a></h3>
<h5 class="author">{% trans 'Author' %}: {{ post.author}}</h5>
<p class="content">{{ post.get_content|linebreaks }}</p>
<p class="readmore"><a href="/blog/post/{{ post.slug }}">{% trans 'Read more' %}</a></p>
<p class="date">{% trans 'Date' %}: {{ post.datetime }}</p> | <p class="commentcount"> {% trans 'Comment(s)' %}: {{ post.comments.count }}</p>
</div>
{% endfor %}

{% if posts.has_previous %}                                                                                                                         
<a href="?page={{ posts.previous_page_number }}">{% trans 'previous' %}</a>
{% endif %}                                                                                                                                            

<span class="current">                                                                                                                                 
  Page {{ posts.number }} of {{ posts.paginator.num_pages }}.                                                                                  
</span>                                                                                                                                                

{% if posts.has_next %}                                                                                                                             
<a href="?page={{ posts.next_page_number }}">{% trans 'next' %}</a>
{% endif %}   
</div>

{% endblock %}
