{% extends 'base.html' %}
{% load i18n %}
{% block content %}


{% for post in posts.object_list %} 
<div>
    <div class="entry">
      <div class="entry_meta">
        <ul>
          <li><a href="" title="Comment on Rockable Press Launches">{{ post.comments.count }} {% trans 'Comments' %}</a></li>
          <li class="date">{{ post.datetime.ctime }}</li>
        </ul>
      </div>

      <h1 class="a_heading"><a href="/blog/post/{{ post.slug }}">{{ post.title }}</a></h1>
      <p>{{ post.get_content|linebreaks }}</p>
      <p class="button"><a href="/blog/post/{{ post.slug }}">{% trans 'More' %}</a></p>
      <br class="clear" />
    </div>
    
    <ul class="category"><p>{% trans 'Tag' %}:</p>
      {% for category in post.categories.all %}
      <li><a href="/blog/category/{{ category.slug }}/" title="View all posts in {{ category }}" rel="category tag">{{ category }}</a></li>
      {% endfor %}
    </ul>
    </div>
    <br class="clear" />
{% endfor %}

    


<div class="wp-pagenavi">

<span class="current">                                                                                                                                 
 <span class="pages"> Page {{ posts.number }} of {{ posts.paginator.num_pages }}</span>
</span>                                                                                                                                                
{% if posts.has_previous %}                                                                                                                         
<a href="?page={{ posts.previous_page_number }}" class="page">{% trans 'previous' %}</a>
{% endif %}                                                                                                                                            


{% if posts.has_next %}                                                                                                                             
<a href="?page={{ posts.next_page_number }}" class="page">{% trans 'next' %}</a>
{% endif %}   
</div>

{% endblock %}
