
{% extends 'base.html' %}
{% load i18n %}
{% load blog %}
{% block banner %}
      <div class="right">
	<ul>
	  <li><a href="/feed/" style="padding: 0;">RSS Feeds</a></li>
	  <li>Atom Feeds</li>
	  </ul>
      </div>
{% endblock %}

{% block left-column %}
<div class="box">
<h2>{% trans 'Categories' %}</h2>
{% categories %}
</div>
{% endblock %}


{% block content %}


{% for post in posts.object_list %} 
<div>
    <div class="entry">
      <div class="entry_meta">

      <h2 class="a_heading"><a href="/blog/post/{{ post.slug }}">{{ post.title.capitalize }}</a></h2>
      <div class="post_content">
	<ul>
          <li><a href="">{{ post.comments.count }} {% trans 'Comments' %}</a></li>
          <li class="date">{{ post.datetime.ctime }}</li>
        </ul>
      </div>
      <br><br>
      <p>{{ post.get_content|linebreaks }}</p>
      </div>
      <p class="button"><a href="/blog/post/{{ post.slug }}">{% trans 'More' %}</a></p>
      <br class="clear" />
    </div>
    
    <ul class="category"><p>{% trans 'Tag' %}:</p>
      {% for category in post.categories.all %}
      <li><a href="/blog/category/{{ category.slug }}/" title="View all posts in {{ category }}" rel="category tag">{{ category }}</a></li>
      {% endfor %}
    </ul>
    </div>
    <br class="clear" />
{% endfor %}

    


<div class="wp-pagenavi">

<span class="current">                                                                                                                                 
 <span class="pages"> Page {{ posts.number }} of {{ posts.paginator.num_pages }}</span>
</span>                                                                                                                                                
{% if posts.has_previous %}                                                                                                                         
<a href="?page={{ posts.previous_page_number }}" class="page">{% trans 'previous' %}</a>
{% endif %}                                                                                                                                            


{% if posts.has_next %}                                                                                                                             
<a href="?page={{ posts.next_page_number }}" class="page">{% trans 'next' %}</a>
{% endif %}   
</div>

{% endblock %}
