{% extends 'base.html' %}
{% load i18n %}
{% load comments %}

{% block extrahead %}
<link href="{{ HIGHLIGHT_STYLE }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<article>
  <h1 class="title">{{ post.title }}</h1>
  <entry>
    {% autoescape off %}
    {{ post.get_content }}
    {% endautoescape %}
  </entry>
  <meta>
    <author>{% trans 'Posted by' %} : {{ post.author }}</author>
    <time>{% trans 'Posted on' %}{{ post.datetime|date:"D d M Y" }} <b>|</b>{% trans 'Comment' %}{% get_comment_count for post as count %} ({{ count }})</time>
    <time>{% trans 'Last update' %}{{ post.update_datetime|date:"D d M Y" }}</time>
    <tag>{{ post.tags }}</tag>
  </meta>
</article>

<comment>
{% get_comment_list for post as comment_list %}
{% for comment in comment_list %}
>>> {{ comment }} <br>
{% endfor %}
</comment>

<div class="commentform">
  <form action="{% comment_form_target %}" method="post">
    <input type="hidden" name="next" value="{% url ultra_blog.views.view_post post.slug %}" />
{% render_comment_form for post %}
</div>
{% endblock %}
