<html>
{% load menu %}
{% load i18n %}
{% load brainstorm %}

<head>
{% block header %}
  <title>{% block title %}Dina{% endblock %}</title>
  <script type="text/javascript" src="{% load adminmedia %}{% admin_media_prefix %}js/jquery.js"></script>
  <link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/ui_them/smoothness/jquery-ui.css">

    <script type="text/javascript" src="{% load adminmedia %}{% admin_media_prefix %}js/ui/ui.core.js"></script>
    <script type="text/javascript" src="{% load adminmedia %}{% admin_media_prefix %}js/ui/ui.resizable.js"></script>
    <script type="text/javascript" src="{% load adminmedia %}{% admin_media_prefix %}js/ui/ui.draggable.js"></script>
    
    <script type="text/javascript" src="{% load adminmedia %}{% admin_media_prefix %}js/ui/ui.dialog.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){

      
      
        
  	var $dialog = $('<div></div>')
		.html('')
		.dialog({
			autoOpen: false,
                        model: true,
			title: 'cs'
		});

      $('.dialog_content').hide ()
      
      $('.dialog_opener').click (function (){
      


      var container = $("#" + $(this).attr("content"));
      $dialog.html (container.html ());
      $dialog.dialog ('option' , 'title' , container.attr("title"));
      $dialog.dialog ('option' , 'hide' , container.attr("hide"));
      $dialog.dialog ('option' , 'show' , container.attr("show"));
      $dialog.dialog ('option' , 'width' , parseInt (container.attr("width")));
      $dialog.dialog ('option' , 'height' , parseInt (container.attr("height")));
//      $dialog.dialog ('option' , 'model' , Boolean (parseInt (container.attr("model"))));
      $dialog.dialog ('open');
      
      });
	

      

      });
  </script>

{% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
