{% for css in styles %}
<link rel="stylesheet" href="{{ MEDIA_URL }}{{ css }}" type="text/css" />
{% endfor %}

{% for script in scripts %}
<script src="{{ MEDIA_URL }}{{ script }}" type="text/javascript"></script>
{% endfor %}

<script language="javascript">
function do_command() {
   console.log("hi");
}
$(function() {
    var fields = $.parseJSON('{{ fields|escape }}');
    console.dir(fields);
    $("#{{ table_id }}").flexigrid(
	{
	    url: '{{ url }}',
	    dataType: 'json',
	    method: 'GET',
            colModel : fields,
	    searchitems : fields,
	    sortname: "id",
	    sortorder: "asc",
	    usepager: true,
	    title: "{{ title }}",
	    useRp: true,
	    rp: {{ rp }},
	    showTableToggleBtn: false,
	    resizable: {{ resizable }},
	    width: {{ width }},
	    height: {{ height }},
            {% if buttons %}

	    buttons : [
               {% for button in buttons %}
		{name: '{{ button.0 }}', bclass: '{{ button.1 }}', onpress : do_command},
               {% endfor %}
		{separator: true }
	    ],
            {% endif %}
	    singleSelect: {{ single_select }}
	}
    );
});

</script>

<!--
-->

<table class="display dataTable" id="{{ table_id }}">

</table>
