{% extends 'base_html.html' %}

{% block content %}
<form action="/accounts/login/" method="post">{% csrf_token %}
    <div class="fieldWrapper">
        {{ form.subject.errors }}
        <label for="id_username">Username :</label>
        {{ form.username }}
    </div>
    <div class="fieldWrapper">
        {{ form.message.errors }}
        <label for="id_password">Password :</label>
        {{ form.password }}
    </div>
    <p><input type="submit" value="Log in" /></p>
</form>

{% endblock %}
