{% load i18n%}
<ul>
  <li>
    <div class="coll" >

      <div class="col1" >
	<a href="1/">{{ obj.title }}</a>
      </div>
      <div class="col2" >
	| <a title="{% trans 'Edit this item' %}" href='{{ obj.id }}/' Onclick="window.document.open ('/admin/dsfg/');">{% trans 'Edit' %}</a>
      </div>
    

    </div>

      
    
{% if submenus %}
   {% for i in submenus %}
      {{ i }}
   {% endfor %}
{% endif %}
<ul>
{% for i in items %}
  <li>
    <div class="coll">
      <div class="col1" >
	{{ i.title }}
      </div>
      <div class="col2">
	| <a title="{% trans 'Edit this item' %}" href='{{ i.id }}/' Onclick="window.document.open ('/admin/item/{{ i.id }}/');">{% trans 'Edit' %}</a>
      </div>
    </div>
  </li>
{% endfor %}

</ul>

</li></ul>
